.container {
  padding: 2em;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 5em;
}

.button {
  background-color: var(--primaryColor);
  box-shadow: var(--boxShadow);
  padding: 0.75em 2em;
  display: flex;
  align-items: center;
  gap: 1em;
  border-radius: 5px;
}

.cardImg {
  flex-basis: 40%;
  max-width: 40%;
  object-fit: contain;
  object-position: top;
}

.cardBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.cardTitle {
  margin-bottom: 1em;
}

.cardParagraphContainer {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.cardParagraph > p {
  margin-top: 1em;
}

.cardBorders {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.cardBorders > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.cardBorder {
  background-color: var(--primaryColor);
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  padding: 0.25em 1.5em;
}

@media only screen and (max-width: 550px) {
  .container {
    flex-wrap: wrap;
    gap: 2em;
  }

  .cardImg {
    max-width: 100%;
  }
}
