.credits {
  position: fixed;
  bottom: 2em;
  right: 2em;
  color: var(--textcolor);
  background-color: var(--bgColor);
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.open {
  width: auto;
  border-radius: 500px;
  padding: 0 1em;
}

.xmark {
  margin-left: 1em;
  cursor: pointer;
}
